[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git@github.com:hallison/vim-markdown.git
[submodule "vim/bundle/rename2"]
	path = vim/bundle/rename2
	url = git@github.com:ReekenX/vim-rename2.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/bundle/cucumber"]
	path = vim/bundle/cucumber
	url = git@github.com:tpope/vim-cucumber.git
