[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git@github.com:hallison/vim-markdown.git
[submodule "vim/bundle/rename2"]
	path = vim/bundle/rename2
	url = git@github.com:ReekenX/vim-rename2.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/bundle/cucumber"]
	path = vim/bundle/cucumber
	url = git@github.com:tpope/vim-cucumber.git
[submodule "vim/bundle/treetop"]
	path = vim/bundle/treetop
	url = git@github.com:nanki/treetop.vim.git
[submodule "vim/bundle/vimclojure"]
	path = vim/bundle/vimclojure
	url = git@github.com:vim-scripts/VimClojure.git
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/bundle/go"]
	path = vim/bundle/go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/bundle/elixir"]
	path = vim/bundle/elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/bundle/apiblueprint"]
	path = vim/bundle/apiblueprint
	url = https://github.com/kylef/apiblueprint.vim.git
[submodule "vim/bundle/openscad"]
	path = vim/bundle/openscad
	url = https://github.com/sirtaj/vim-openscad.git
[submodule "vim/bundle/nuuid"]
	path = vim/bundle/nuuid
	url = https://github.com/kburdett/vim-nuuid
