[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=keyboard-settings
Comment=Configure keyboard
Exec=setxkbmap xx
StartupNotify=false
Terminal=false
Hidden=false
