[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=remap trackball
Comment=Set trackball mappings whenever it is plugged in
Exec=/home/paul/bin/remap-buttons "Kensington      Kensington Expert Mouse" "1 8 3 4 5 6 7 2"
StartupNotify=false
Terminal=false
Hidden=false

