[Desktop Entry]
Type=Application
Name=compton
Comment=Display compositor
Exec=compton -cC -r4 -l-5 -t-5 -G
StartupNotify=false
Terminal=false
Hidden=true
