[Desktop Entry]
Encoding=UTF-8
Version=1.0.0
Type=Application
Name=compton
Comment=Display compositor
Exec=compton --backend glx --vsync opengl-swc --paint-on-overlay --glx-no-stencil --glx-no-rebind-pixmap -c -C
StartupNotify=false
Terminal=false
Hidden=false
