[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Dropbox
Comment=Cloud storage
Exec=/home/paul/opt/dropbox/dropboxd
StartupNotify=false
Terminal=false
Hidden=false

