[Desktop Entry]
Name[pt]=Kupfer
Name[sl]=Kupfer
Name[cs]=Kupfer
GenericName[ru]=Средство запуска приложений
Name[fr]=Kupfer
GenericName[nb]=Programstarter
Name[zh_CN]=Kupfer
Name[es]=Kupfer
GenericName[ko]=응용 프로그램 실행 아이콘
GenericName[it]=Lanciatore di applicazioni
Name[eu]=Kupfer
Comment[nl]=Handige opdracht- en toegangshulp voor programma's en documenten
Comment[da]=Nemt kommando- og adgangsværktøj til programmer og dokumenter
Comment[pt]=Ferramenta conveniente para acesso e gestão de aplicações e documentos
GenericName[fr]=Lanceur d'applications
Comment[de]=Praktisches Befehls- und Zugriffswerkzeug für Anwendungen und Dokumente
Type=Application
X-GNOME-Autostart-enabled=true
GenericName[es]=Lanzador de aplicaciones
GenericName[da]=Programopstarter
Name[nb]=Kupfer
Exec=kupfer  --no-splash
GenericName[sl]=Zaganjalnik programov
GenericName[cs]=Spouštěč aplikací
Comment[es]=Herramienta para acceso y manejo de aplicaciones y documentos
GenericName[de]=Anwendungsstarter
GenericName[pl]=Aktywator programów
Name[gl]=Kupfer
Comment[sv]=Praktiskt kommandoprogram för åtkomst av program och dokument
Name[ko]=쿠퍼
Comment[nb]=Praktiskt kommandoverktøy for programmer og dokumenter
Comment[eu]=Komando eta atzipen tresna egokia aplikazio eta dokumentuentzat
Icon=kupfer
Name[sv]=Kupfer
Comment[it]=Comodo comando e strumento di accesso per applicazioni e documenti
GenericName[eu]=Aplikazioen abiarazlea
GenericName[zh_CN]=程序启动器
Name=Kupfer
Comment[gl]=Ferramenta cómoda para controlar e acceder a aplicativos e documentos
Name[tr]=Kupfer
GenericName[tr]=Uygulama Çalıştırıcı
GenericName=Application Launcher
Comment[cs]=Nástroj pro pohodlné provádění příkazů a přístup k aplikacím a dokumentům
Name[nl]=Kupfer
Comment[pl]=Wygodne narzędzie do uruchamiania programów i otwierania dokumentów
GenericName[hu]=Alkalmazásindító
X-UserData=$CONFIG/kupfer;$DATA/kupfer;$CACHE/kupfer
GenericName[pt_BR]=Lançador de aplicativos
Name[ru]=Kupfer
Name[pl]=Kupfer
Comment[pt_BR]=Uma conveniente ferramenta de comando e acesso para aplicativos e documentos
GenericName[sv]=Programstartare
Name[da]=Kupfer
GenericName[gl]=Iniciador de aplicativos
StartupNotify=true
Comment=Convenient command and access tool for applications and documents
Name[it]=Kupfer
Name[pt_BR]=Kupfer
Comment[sl]=Prikladno orodje za izvajanje ukazov in dostopa do programov in dokumentov
Comment[zh_CN]=方便的命令和操作程序或文档的工具
Comment[hu]=Ügyes kis kütyü alkalmazások indítására és dokumentumok elérésére
Comment[ko]=편리하게 응용프로그램이나 문서에 접근하고 명령을 내릴 수 있는 도구
Version=1.0
Comment[fr]=Outil pratique pour accéder à des documents et lancer des applications
Categories=Utility;
Name[de]=Kupfer
GenericName[pt]=Lançador de Aplicações
Comment[ru]=Удобный инструмент для быстрого доступа к программам и документам
Name[hu]=Kupfer
GenericName[nl]=Programmastarter

